*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Arimo', sans-serif;
font-family: 'Hind', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Lora', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Rubik', sans-serif;
font-family: 'Sofia Sans Semi Condensed', sans-serif;
font-family: 'Montserrat',Arial,Helvetica,sans-serif;
}
/* header section start --------------------------------- */
.header .navbar a{
    text-decoration: none;
}
.text-grey{
    color: grey !important;
}
section{
    margin: 70px 0px ;
}
:root {
   --primary-color:rgba(23, 23, 23,.7); 
   --grey:grey;

  }
a{
    text-decoration: none;
    color: rgba(23, 23, 23,.7); 
}
.tophead{
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;
    border-bottom: 1px solid rgb(216, 216, 216);
    padding: 0px 10px;
}
.header{
    background-image: url(../img/marbel.jpg);
    width: 100%;
    position: sticky;
    top:0px;
    border: 1px solid lightgray;
    z-index: 8888;
    /* height: 100px; */
}
.navbar-toggler{
    color: rgb(17, 16, 16);
   
}
.navbar .nav-item .nav-link{
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 5px 15px !important;
    border-left: 1px solid lightgray;
    color: rgba(23, 23, 23,.7);
}
.header .btn{
    padding: 10px 15px;
    background-color:rgba(187, 177, 226, 0.8);
    color: white !important;
    border-radius: 20px;
}
.header .btn a{
    color: var(--primary-color);
    font-size: 20px;
}
.header  .dropdown .dropdown-menu a{
    transition: all .4s ;
    font-size:16px;
    color:var(--primary-color);
    /* padding: 10px auto; */
}
.header .navbar-nav .dropdown:hover .dropdown-menu{
 display: block;
}

/* 2nd header */

/*  hero section start================================*/
.hero{
    background-image: url(../img/hero\ \(2\).jpg);
    background-position: center;
    width: 100%;
    height: 80vh;
   background-attachment: fixed;
    color: white;
     display: flex;
     /* flex-wrap: wrap; */
     justify-content: flex-end;
     align-items: center;
}


.hero .heading-content h4{
    color: bisque;
    font-size: 45px;
    margin-top: 10px;
}
.hero .heading-content .content{
    line-height:3rem !important;
    font-size: 23px;
    text-transform: capitalize;
}
.hero .heading-content{
    width: 30%;
    margin-right:10%;
}
.hero .heading-content a{
    color: bisque;
}
/* tophead section start */
.tophead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px  ;
}
/* hero section end====================================== */



.interior {
 background-image: url("../img/oneside-01.png");
 width: 100%;
 height: 100vh;
 background-position: center right;
 background-size: 100% 100% ;
 background-attachment: fixed;
}
.left{
    margin-top: 10%;
  
}
.light-g{
    color:gray;
}
.left .heading h4{
    font-weight: 560;
    font-size: 34px;
    
}
.interior ul {
    list-style: none;
    color: var(--grey);
    width: 380px;

}
.interior ul li a{
    display: inline-flex;
}
.interior ul li{
    padding: 1.2rem;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly ;
    align-items: center;
}



/* interior section end */
.looking .left1{
   background-image: url("../img/1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    width: 50%;
    height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.looking .right1{
    background:rgba(249, 230, 207,.6);
    background-position: center center;
    background-repeat: no-repeat;
    width: 50%;
    height: 100vh;
    background-size: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    /* background-attachment: fixed; */
    /* background-position: left; */
}
.looking .heading{
    margin-left: 3rem;
}
.looking .right1 .heading h3{
    font-size: 34px;
    color: rgb(26, 25, 25);
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    
}
.looking .heading p{
    text-align: justify;
    padding: 20px 0px;
    padding-right: 3rem;
    margin-top: 2rem;
    font-size: 16px;
    color: grey;

}
/* special section start */
.special{
}
.special .special-inner{
width: 100%;
padding-bottom: 3rem;
border: 2px solid rgb(8, 7, 7);
margin: auto;
}
.special .special-inner .box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.f-lg{
    font-size: 56px;
    color: lightcoral;
}
 .read{
    border: none;
    outline: none;
    padding: 12px 15px;
    color: rgb(218, 136, 136);
    
}
.special .card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}
/* Vibrant section --------------------- */
.Vibrant{
    width: 100%;
    
    background-color: beige;
}
.Vibrant .heading h4{
    color: rgba(36, 30, 30,.8);
}
.bg-yellow{
   background-color:  rgba(255, 236, 125, 0.9),
}
.process .rightdesign{
    background-image: linear-gradient( rgba(255, 236, 125, 0.9), transparent 80%) ,url(../img/6afaa29f-3ffe-4f98-9507-2c31df5ecdaa.jpg);
    height: 100vh;
    width:50%;
    background-repeat: no-repeat;
    background-position: center right;
    background-attachment: fixed;
    
}
.process .leftdesign{
    background-color:rgb(242, 226, 207);
}
.process .heading,.final .heading{
    width: 50%;
}
.final .rightdesign{ 
  background: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.3)),
          url(../img/2.jpg);   
    height: 100vh;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center left;
    background-attachment: fixed;
    background-blend-mode: darken;
}
.final .leftdesign{
    background-color:rgb(242, 226, 207);
}
/* excution section start */
.excution .rightdesign{
    background: url(../img/2.jpg);   
height: 100vh;
width: 50%;
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;

} 
.excution .leftdesign{
    background-color:rgb(242, 226, 207);
   
}
.excution .leftdesign .heading{
    padding: 10% 0px;
    width: 50%;
}
/* customer section start */
.customer .content p{
    font-size: 18px !important;
    color: rgb(126, 126, 126);
    text-align: justify;
 
}
/* excution start end */
/* HomeInteriors css start */
.HomeInteriors{
    background-image: linear-gradient( rgba(245, 236, 236, 0.5),
     rgba(255, 248, 248, 0.5),100%, transparent 100%) ,url(../img/sitting\ area\ FINAL_.jpg);
    width: 100%;
    height: 80vh;
    background-attachment: fixed;
    text-align: center;
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.HomeInteriors h3{
    font-size: 36px;
    color: black;
    font-weight: 600;
}
.HomeInteriors h5{
    font-size: 24px;
    font-weight: 300;
    color: black;
}
/* HomeInteriors end */
/* footer section start */
.footer{
    width: 100%;
    display: flex;
    /* height: 20vh; */
    background-image: url(../img/marbel.jpg);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* text-align: start !important; */
}
.footer ul{
    display: flex;
    list-style: none;
    gap: 30px;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
}
.footer ul li a{
 color: black;
 font-size: 18px;
 padding:0 1rem;
 text-transform: capitalize;
 transition: all .4s;
 border-left: 2px solid black;
}
.footer ul li a:hover{
 color: rgb(93, 19, 31);
}
.b-none{
    border: none !important;
}
.copyright h3{
    margin-top: 20px;
    font-size: 16px;
}
/* footer section end */
/* about page  */
.aboutbanner{
    width: 100%;
    height: 50vh;
    background-image: linear-gradient( rgba(2, 2, 2, 0.6), transparent 100%) ,url(../img/sitting\ area\ FINAL_.jpg);
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.f-bold{
    font-weight: 500 !important;
}
.fa-solid,.fa-brands{
    color: rgb(36, 24, 24);
}
.contact form .input{
    width: 90%;
    margin: 10px 23px;
    text-align: center;
    text-transform: capitalize;
    padding: 8px 5px;
    border-radius: 5px;
    border: 1px solid gray;
}
.contact form .btn{
    text-transform: capitalize;
    padding: 10px;
    border: 2px solid grey;
    text-align: center;
    margin: 15px 15px;
    background-color: rgb(10, 10, 74);
    color: rgb(252, 252, 252);
    box-shadow: 10px 10px 5px 0px rgba(128,128,128,1);
    transition: all .4s;
}
.contact form .btn:hover{
    box-shadow: none;
}
.contact .project-list{
    display: flex;
    list-style-type: none; 
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}
.address ul li a{
    color: rgb(225, 83, 83) !important;
}
ul{
    list-style: none;
}
/* RESIDENTIAL INTERIORS */
.service-hero{
    width: 100%;
    height: 50vh;
    background-image: linear-gradient( rgba(2, 2, 2, 0.6), transparent 100%) ,url(../img/IMG_20200829_125210.jpg);
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.residential-gallery,.hospitality-gallery {
    text-transform: capitalize;
}
.residentiaL .content p, .hospitality .content p{
    line-height: 2rem;
    color: grey;
    font-size: 18px;
    text-align: justify;
}
/* service card */
/* tensile -structure-card css start */
.structure-card{
    background-color: rgb(255, 238, 238);
  }
  .structure-card .service-info{
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    transition:all .4s;
    overflow: hidden;
    border-radius: 12px;
  
  }
  .structure-card .service-info::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,.8);
    /* border: 2px solid yellow; */
    opacity: 0;
    transition:all .4s;
    transform: translatey(100px);
    top: 0px;
    bottom: 0px;
    border-radius: 12px;
  }
  .structure-card .col-md-4 .service-info .img-content h3{
    border-bottom: 2px solid white;
    font-size: 20px;
    text-align: center;
    margin: 8% 0 5% 0;
  }
  .structure-card .service-info .img-content{
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 3%;
    opacity: 0;
    transition:all .4s;
  }
  
  .structure-card .service-info:hover::before ,.structure-card .service-info .img  img:hover::before{
    opacity: .9; 
    transition: all .4s;
    transform: translatey(-0px);
    
  }
  .structure-card .service-info:hover .img-content{
   z-index: 1;
    opacity: .9;
    transition:all .4s;
    color: white;
  }
  @media screen and (max-width:1050px) {
   .structure-card .col-md-4{
    width: 50%;
    height: 240px;
   }
   .structure-card .service-info img{
    height: 240px;
    width: 100%;
  }
   .structure-card .service-info .img-content h3{
    margin-top:0%;
    font-size: 21px;
  }
  }
  @media screen and (max-width:729px) {
    .structure-card .col-md-4{
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
    }
    .structure-card .service-info img{
      height: 100%;
      width: 100%;
    }
    .structure-card .service-info .img-content{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .structure-card .service-info .img-content h3{
      margin-top:20%;
      font-size: 21px;
    }
    p{
      padding: 3px 20px !important;
    }
  }
  .fixed-btn a {
 text-transform: capitalize;
 color: white;
  }
  .fixed-btn{
    position: fixed;
    top:300px;
    left: 0;
    background-color:teal;
    color: white;
    padding: 10px;
    outline:none !important;
    border: none;
  }